<% include('../layouts/header.ejs') %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<div class="container">
    <h1>Admin Login</h1>
    <br><br>
    <% if(typeof message !== 'undefined') { %>
        <h3><%=  message %></h3>
    <% } %>

    <form action="" method="post">
        <input type="email" name="email" placeholder="Enter Email" required>
        <br>
        <input type="password" name="password" placeholder="Enter Your Password" required>
        <br>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
    <br>
    <a href="/login" ><button class="btn btn-primary rounded-pill">User Login</button>
    </a>
</div>

<style>
    body {
        background-color: #343a40;
        color: #ffffff;
        padding: 150px 20px;
        text-align: center;
    }

    h1 {
        color: #007bff;
    }

    h3 {
        color: #dc3545;
    }

    form {
        max-width: 300px;
        margin: 0 auto;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #dee2e6;
        border-radius: 4px;
        background-color: #495057;
        color: #ffffff;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #ffffff;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

<% include('../layouts/footer.ejs') %>